*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $color-dark;
}

#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

.splash {
  background-image: url(../images/Warstwa_17.png), url(../images/background.jpg);
  background-size: cover, cover;
  background-position: center bottom, center center;
  background-attachment: fixed, fixed;
}

.subscribe {
  display: none;
  background: url(../images/subscribe.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.subscribe.active {
  display: block;
}

.green-audio-player {
  width: 100%;
}

.btn {
  background-color: $color-main;
  width: 100%;
  height: 77px;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: darken($color-main, 10%);
    border: 5px solid darken($color-main, 20%);
  }
}

.btn-secondary {
  width: 100%;
  height: 59px;
  border-radius: 9px;
}

input {
  width: 100%;
  height: 59px;
  border-radius: 9px;
}

/* Audio player pin progress */
.green-audio-player .controls .slider .gap-progress .pin {
  background-color: $color-main;
}

/* Large screen view */
@media (min-width: 1200px) {
  input {
    width: 355px;
  }

  .btn {
    height: 133px;
  }

  .btn-secondary {
    width: 139px;
    height: 59px;
  }
}