@use "sass:math";

body {
  background-color: $Color-dark;
}

footer {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: min(90%, $Main-container-width);
  margin-inline: auto;
}

.container--narrow {
  max-width: $Narrow-container-width;
  margin-inline: auto;
}

.container--wide {
  width: min(90%, $Wide-container-width);
  margin-inline: auto;
}

.splash {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;

  .header {
    padding-top: 27rem;

    @media screen and (max-width: 768px) {
      padding-top: 30rem;
  
      div {
        padding-top: 5rem;
      }
    }  
  }
}

.main-nav {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  a {
    display: inline-block;
  }
  
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  
    a {
      &:first-of-type {
        padding-right: 0rem;
      }
    
      &:nth-of-type(2) {
        padding-right: 0rem;
      }
    }
  }
}

.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 113px;
  height: 1000px;

  .song {
    margin-top: 54px;
    margin-bottom: 26px;
    width: min(90%, 582px);
    height: 83px;
  }

  .tags {
    width: 92%;
    display: flex;
    justify-content: space-between;

    p {
      display: inline-block;
    }
  }
}

.subscribe {
  height: 1023px;
  position: relative;
  
  h2 {
    position: absolute;
    top: -6%;
    left: 49%;
    transform: translate(-50%);
  }

  .wrapper {
    padding-top: 16.9rem;
  
    .button {
      margin-top: 40.6rem;
    }

    .album-cover {
      display: flex;
      position: relative;
      justify-content: end;
  
      .album-artist {
        position: absolute;
        top: 294px;
        left: 78px;
      }

      img {
        padding-right: 28px;
        max-width: 100%;
        object-fit: cover;
      }

    }
  }

  @media screen and (max-width: 768px) {
    img {padding-right: 0px;}

    .wrapper {padding-top: 5rem;}

    .button {margin-top: 1rem;}

    .album-cover {justify-content: center;}

    .album-artist {
      left: 50%;
      top: 5%;
      transform: translate(-50%);
    }

    .album-title {
      p {font-size: 2.7rem;}}
  }
}  

.row {
  display: flex;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.col {padding: 15px;}

.col-1 {flex: 8.333%;}

.col-2 {flex: 16.667%;}

.col-3 {flex: 25%;}

.col-4 {flex: 33.333%;}

.col-5 {flex: 41.667%;}

.col-6 {flex: 50%;}

.col-7 {flex: 58.333%;}

.col-8 {flex: 66.667%;}

.col-9 {flex: 75%;}

.col-10 {flex: 83.333%;}

.col-11 {flex: 91.667%;}

.col-12 {flex: 100%;}