h1 {
  color: $Color-light;
  font-weight: $Weight-extra-bold;
  font-family: $Main-header-font;
  font-size: 20rem;
  letter-spacing: 12rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  @media screen and (max-width: 768px) {
    font-size: 5rem;
    letter-spacing: 3rem;
    padding-left: .5rem;
  }
}

h2 {
  color: $Color-light;
  font-family: $Nav-header-font;
  font-weight: $Weight-semi-bold;
  font-size: 10rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  text-align: center;

  .now {
    font-family: $Main-header-font;
    font-weight: $Weight-extra-bold;
  }

  @media screen and (max-width: 768px) {
    font-size: 5rem;
  }
}

h3 {
  color: $Color-grey;
  font-size: 4rem;
  font-family: $Text-font;
  font-weight: $Weight-bold;
  letter-spacing: $Letter-spacing;
  text-transform: uppercase;
  @media screen and (max-width: 768px) {
    font-size: 3rem;
  }
}

h4 {
  color: $Color-light;
  font-weight: $Weight-extra-bold;
  font-family: $Main-header-font;
  word-spacing: $Narrow-container-width;
  font-size: 3.6rem;
  text-transform: uppercase;
  letter-spacing: 1.08rem;
  line-height: 7.2rem;
  text-align: center;
  @media screen and (max-width: 768px) {
    font-size: 2.7rem;
  }
}  

h5 {
  color: $Color-light;
  font-weight: $Weight-semi-bold;
  font-family: $Nav-header-font;
  font-size: 3rem;
  letter-spacing: .225rem;
  text-align: center;

  .artist {
    text-transform: uppercase;
  }
}

a {
  text-decoration: none;
  color: $Color-grey;
  font-size: 2rem;
  font-family: $Nav-header-font;
  font-weight: $Weight-normal;
  letter-spacing: 0.225rem;
  text-transform: uppercase;
  text-align: left;
}

footer {
  color: $Color-grey;
  font-family: $Text-font;
  font-weight: $Weight-normal;
  font-size: 2rem;
  letter-spacing: .4rem;
  text-align: center;
}

.home {
  p {
    color: $Color-grey;
    font-family: $Text-font;
    font-weight: $Weight-normal;
    font-size: 2rem;
  }
}

.album-title {
  p {
    color: $Color-light;
    font-size: 4rem;
    font-family: $Text-font;
    font-weight: $Weight-semi-bold;
    letter-spacing: $Letter-spacing;
    @media screen and (max-width: 768px) {
      font-size: 3rem;
    }
  }
}

.album-artist p {
  margin: 0;
  font-size: 10rem;
  font-weight: $Weight-extra-bold;
  font-family: $Main-header-font;
  color: $Color-light;
  letter-spacing: 2rem;
  @media screen and (max-width: 768px) {
    font-size: 4rem;
    letter-spacing: 1rem;
  }
}

.button {
  color: $Color-light;
  letter-spacing: .8rem;
  text-transform: uppercase;
  font-weight: $Weight-bold;
  font-size: 4rem;
  font-family: $Text-font;
  @media screen and (max-width: 768px) {font-size: 3rem;}
}