body {
  font-family: $main-font;
  color: $color-light;
  font-weight: $weight-regular;
}

@mixin header-font {
  text-transform: uppercase;
  text-align: center;
}

/* Taste header */
h1 {
  @include header-font;
  font-weight: $weight-black;
  font-size: 6rem;
  letter-spacing: 3rem;
  padding-left: .5rem;
  text-indent: 2rem;
  margin: 0;
}

/* Subscribe header */
h2 {
  @include header-font;
  font-weight: $weight-semi-bold;
  font-size: 3.5rem;
  letter-spacing: 2rem;

  .now {
    font-weight: $weight-black;
  }
}

/* New album header */
h3 {
  color: $color-grey;
  font-size: 3rem;
  font-weight: $weight-bold;
  letter-spacing: $letter-spacing;
  text-transform: uppercase;
}

/* Engage header */
h4 {
  @include header-font;
  font-weight: $weight-black;
  word-spacing: $narrow-container-width;
  font-size: 2.7rem;
  line-height: 5rem;
  letter-spacing: 1.08rem;
}  

/* Audio artist header, found songs summary */
h5, .found, .try {
  font-weight: $weight-semi-bold;
  font-size: 3rem;
  letter-spacing: .225rem;
  text-align: center;

  .artist {
    text-transform: uppercase;
  }
}

/* Navigation */
.main-nav {
  a {
    text-decoration: none;
    color: $color-grey;
    font-size: 2rem;
    letter-spacing: 0.225rem;
    text-transform: uppercase;
    text-align: left;
  }

  .active {
    color: $color-light;
  }
}

footer {
  color: $color-grey;
  font-size: 2rem;
  letter-spacing: .4rem;
}

/* Search form */
label {
  color: $color-grey;
  font-size: 2rem;
  letter-spacing: 0.5rem;
}

/* Categories */
.tags {
  color: $color-grey;
  font-size: 2rem;

  p:last-of-type{
    text-align: end;
  }
}

/* Artist */
.album-title {
  p {
    font-size: 3rem;
    font-weight: $weight-semi-bold;
    letter-spacing: $letter-spacing;
  }
}

.album-artist p {
  margin: 0;
  font-size: 6rem;
  letter-spacing: 1rem;
  font-weight: $weight-black;
}

.btn {
  color: $color-light;
  letter-spacing: .8rem;
  text-transform: uppercase;
  font-weight: $weight-bold;
  font-size: 3rem;
}

.btn-secondary {
  font-size: 1.5rem;
  text-indent: .8rem;
}

/* Medium screen view */
@media (min-width: 768px) {
  h1 {
    font-size: 15rem;
    letter-spacing: 8rem;
    text-indent: 6rem;
  }

  h2 {
    font-size: 7.5rem;
  }

  .album-artist {
    p {
      font-size: 7.5rem;
      letter-spacing: 1.75rem;
    }
  }
}

/* Large screen view */
@media (min-width: 1200px) {
  /* Taste header */
  h1 {
    font-size: 20rem;
    letter-spacing: 12rem;
    text-indent: 9rem;
  }
  /* Subscribe header */
  h2 {
    font-size: 10rem;
  }

  /* New album header */
  h3 {
    font-size: 4rem;
  }

  /* Engage header */
  h4 {
    font-size: 3.6rem;
    line-height: 7.2rem;
  }

  .album-title {
    p {
      font-size: 4rem;
    }
  }

  .album-artist {
    p {
      font-size: 10rem;
      letter-spacing: 2rem;
    }
  }

  /* Categories */
  .tags {
    p:last-of-type{
      text-align: left;
    }
  }

  .btn {
    font-size: 4rem;
  }

  .btn-secondary {
    font-size: 1.5rem;
  }
}