@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

/* Colors */
$Color-main: #cf383e;
$Color-light: #FFF;
$Color-grey: #bfbfbf;
$Color-dark: #131313;

/* Fonts */
$Main-font: 'Source Sans Pro', sans-serif;

$Weight-regular: 400;
$Weight-semi-bold: 600;
$Weight-bold: 700;
$Weight-black: 900;
$Letter-spacing: .8rem;

/* Positions, dimensions */
// $Girl-axis: 49%;
$Main-container-width: 57.5rem;
$Narrow-container-width: 22rem;
$Wide-container-width: 123rem;

