@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

/* Colors */
$color-main: #cf383e;
$color-light: #FFF;
$color-grey: #bfbfbf;
$color-dark: #131313;

/* Fonts */
$main-font: 'Source Sans Pro', sans-serif;

$weight-regular: 400;
$weight-semi-bold: 600;
$weight-bold: 700;
$weight-black: 900;
$letter-spacing: .8rem;

/* Positions, dimensions */
$main-container-width: 57.5rem;
$narrow-container-width: 22rem;
$wide-container-width: 123rem;

